.navbar
  height: 72px
  width: 100%
  border: none
  .navbar-left
    margin: 20px
    float: left
  .navbar-right
    float: right
  .navbar-text
    float: left
  .donate
    padding: 7px 17px
    border-radius: $border-radius-base
    background-color: $brand-danger
    color: white
    margin: 20px 10px
  .menu-toggle
    margin: 20px
